<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container py-2">
        <a href="{{'/' | relative_url}}" class="navbar-brand fw-bold text-muted">Sofiasys</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for category in site.products %} {% if category.type == 'category' %}
                <li class="nav-item"><a href="{{category.url | relative_url}}" class="nav-link">{{category.title}}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
    </div>
</nav>