---
layout: default
---

<div class="container">
  <div class="row py-5 d-flex align-items-center border-bottom">
    <div class="col">
      <h1 class="text-dark">Welcome to Sofiasys</h1>
      <div class="text-secondary mb-3">
        Renewed electronics are like new — just better for the planet and your
        pocket. Our refurbishers are electronics experts who test and verify
        that every device is clean and 100% functional before it goes out for
        delivery. You get what it says on the box or your money back.
      </div>
      <a
        href="{{ 'products' | relative_url }}"
        class="btn btn-dark btn-lg fw-bold"
        >Browse Products</a
      >
    </div>
    <div class="col">
      <img
        src="{{'/assets/img/header.png'  | relative_url}}"
        class="img-fluid"
      />
    </div>
  </div>
</div>
