---
layout: default
---

<div class="container">
  <div class="row py-4">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/products">Products</a></li>
          <li class="breadcrumb-item">
            <a href="{{ '/products/' | append: page.category | relative_url }}">{{page.category | capitalize}}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{page.brand}} - {{page.model}}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row g-3 d-flex align-items-center py-5">
    <div class="col-12 col-lg-4 text-center">
      <img src="{{page.img | relative_url}}" alt="{{page.brand}} - {{page.model}}" class="img-fluid"
        style="max-height: 256px;" />
    </div>
    <div class="col-12 col-lg-8">
      <div class="fs-6 fw-bold text-muted">{{page.brand}}</div>
      <div class="fs-5 mb-2">{{page.model}}</div>
      <div class="mb-4">
        {% for tag in page.tags %}
        <span class="badge bg-light border text-dark">{{tag}}</span>
        {% endfor %}
      </div>
      <small class="fw-bold text-muted">Specifications</small>
      <ul>
        {% for spec in page.specs %}
        <li>{{spec}}</li>
        {% endfor %}
      </ul>
      <div class="mb-4">
        <span class="text-decoration-line-through text-danger">{{page.original-price}}</span>
        <span class="fs-3 fw-bold">{{page.price}}</span>
      </div>
      <a class="btn btn-dark">Add to cart</a>
    </div>
  </div>
</div>